<html>
  <head>
    <meta charset="UTF-8" />
    <title>Scratch Project</title>
    <!-- <link rel="stylesheet" href="./client/stylesheet/style.css" /> -->
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
          <h1><span class="fa fa-github"></span> Github OAuth</h1>
          <p>Authorize your app with:</p>
          <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>" class="btn btn-danger"><span class="fa fa-github"></span> Github Login</a>
      </div>
  </div>
    <div id="root"></div>
    <!-- <script src="./build/bundle.js"></script> -->
  </body>
</html>
